<p>
<table>
 <thead>
   <th>Inproceedings</th>
 </thead>
 <tbody>
   <% @Inproceedings.each do |i| %>
   <tr>
    <td><%= link_to i.title, i  %></td>
   </tr>
   <% end %>
 </tbody>
</table>
</p>

<p>
<table>
  <thead>
  <th>Articles</th>
  </thead>
  <tbody>
  <% @Articles.each do |i| %>
      <tr>
        <td><%= link_to i.title, i  %></td>
      </tr>
  <% end %>
  </tbody>
</table>
</p>

<p>
<table>
  <thead>
  <th>Books</th>
  </thead>
  <tbody>
  <% @Books.each do |i| %>
      <tr>
        <td><%= link_to i.title, i  %></td>
      </tr>
  <% end %>
  </tbody>
</table>
</p>
